<mat-card class="example-card" *ngIf="post">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div *ngIf="!onEdit"></div>
    <mat-card-title
      >{{ post.title }}
      <button
        title="Editer"
        mat-button
        *ngIf="post.creator?.id == userToken.userId || userToken.level > 1"
        (click)="doEdit()"
      >
        <mat-icon class="icon-align">edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle
      >Publié le {{ post.createdAt | date: "dd/MM/yyyy" }} par
      {{ post.creator.name }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="post.imgUrl" alt="Photo de Groupomania" />
  <mat-card-content> </mat-card-content>
  <mat-card-actions class="actions">
    <app-post-icons [post]="post" [userToken]="userToken"></app-post-icons>
  </mat-card-actions>
  <app-comments [post]="post" [userToken]="userToken"></app-comments>
</mat-card>
