.post-card {
  max-width: 550px;
  //max-height: 500px;
  margin: auto;
  //background-color: rgb(254, 255, 255);
  margin-bottom: 10px;
}

mat-card {
  background-color: rgb(253, 249, 249);
}

.post-header-image {
  background-image: url("http://localhost:4200/assets/icon.png");
  background-size: cover;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-card-image {
  margin: auto;
  height: 300px;
  object-fit: contain;
}

.mat-card-actions {
  margin-left: 0px;
}

.titre {
  font-size: 12px;
}

.creator {
  cursor: pointer;
  font-size: large;
  color: #e66767;
}
