<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle *ngIf="post.creator.name"
      >par {{ post.creator.name }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="post.imgUrl" alt="Photo de Groupomania" />
  <mat-card-content>
    <p>Publié le : {{ post.createdAt | date: "dd/MM/yyyy" }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE <mat-icon>favorite_border</mat-icon></button>
    <button
      mat-button
      *ngIf="post.creator.id == getId.userId || getId.level > 1"
      (click)="doEdit()"
    >
      EDITER <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-button
      *ngIf="post.creator.id == getId.userId || getId.level > 1"
      (click)="doDelete()"
    >
      SUPPRIMER <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <app-comments [post]="post" [getId]="getId"></app-comments>
</mat-card>
