<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <div *ngIf="!onEdit"></div>
    <mat-card-title
      >{{ post.title }}
      <button
        title="Editer"
        mat-button
        *ngIf="post.creator.id == getId.userId || getId.level > 1"
        (click)="doEdit()"
      >
        <mat-icon class="icon-align">edit</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle *ngIf="post.creator.name"
      >Publié le {{ post.createdAt | date: "dd/MM/yyyy" }} par
      {{ post.creator.name }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image [src]="post.imgUrl" alt="Photo de Groupomania" />
  <mat-card-content> </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button>
      LIKE <mat-icon class="icon-align">favorite_border</mat-icon>
    </button>
    <button
      mat-button
      *ngIf="post.creator.id == getId.userId || getId.level > 1"
      (click)="doDelete()"
    >
      SUPPRIMER <mat-icon class="icon-align">delete</mat-icon>
    </button>
  </mat-card-actions>
  <app-comments [post]="post" [getId]="getId"></app-comments>
</mat-card>
