mat-toolbar {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  .linksTitle {
    font-size: 0%;
    visibility: hidden;
  }
}
