<mat-toolbar color="primary">
  <a routerLink="/">Groupomania</a>
  <ul>
    <li *ngIf="isLoggedIn" class="m-10">
      <a routerLink="posts" (click)="onReset()">
        <mat-icon class="icon-align">perm_media</mat-icon> Posts</a
      >
    </li>
    <li *ngIf="isLoggedIn" class="m-10">
      <a routerLink="auth/profile">
        <mat-icon class="icon-align">account_circle</mat-icon> Profil</a
      >
    </li>

    <li *ngIf="!isLoggedIn" class="m-10">
      <a routerLink="auth/login">
        <mat-icon class="icon-align">how_to_reg</mat-icon> Connexion</a
      >
    </li>
    <li *ngIf="!isLoggedIn" class="m-10">
      <a routerLink="auth/signup">
        <mat-icon class="icon-align"><mat-icon>person_add</mat-icon></mat-icon>
        Inscription</a
      >
    </li>
    <li *ngIf="isAdmin" class="m-10">
      <a routerLink="auth/admin">
        <mat-icon class="icon-align"><mat-icon>person_add</mat-icon></mat-icon>
        Admin</a
      >
    </li>
  </ul>
</mat-toolbar>
