<span *ngIf="post">
  <button
    mat-raised-button
    [matTooltipClass]="'multiline-tooltip'"
    color="primary"
    [matTooltip]="likers()"
    (click)="doLike()"
  >
    LIKE ({{ post?.likes?.length }})

    <!-- <ng-template #like>
      <mat-icon [@heartFull]="state" [title]="likers()" class="icon-align"
        >favorite</mat-icon
      >
    </ng-template> -->

    <mat-icon [@heartFull]="state" class="icon-align"> favorite </mat-icon>
  </button>

  <button
    mat-raised-button
    color="warn"
    *ngIf="post.creator.id == userToken.userId || userToken.level > 1"
    (click)="delete()"
  >
    SUPPRIMER <mat-icon class="icon-align">delete</mat-icon>
  </button>
</span>
