<div class="container" style="padding-top: 200px">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="d-flex flex-column form-group">
      <label>Nom</label>
      <input formControlName="name" type="text" />

      <!--
      <div *ngIf="form.controls.name.errors">
        {{ form.controls.name.errors.required }}
      </div>
      
       <div *ngIf="form.get('name').errors"> 
      {{form.get('name').errors}}
      </div> 
      -->

      <div *ngIf="erreursForm.name" class="error">
        {{ erreursForm.name }}
      </div>
    </div>
    <div class="d-flex flex-column form-group">
      <label>Email</label>
      <input formControlName="email" type="email" />
    </div>
    <div *ngIf="erreursForm.email" class="error">
      {{ erreursForm.email }}
    </div>
    <div class="d-flex flex-column form-group">
      <label>Mot de passe</label>
      <input formControlName="password" type="password" />
    </div>
    <div *ngIf="erreursForm.password" class="error">
      {{ erreursForm.password }}
    </div>
    <div class="d-flex flex-column form-group">
      <label>Confirmation</label>
      <input formControlName="confirmPassword" type="password" />
    </div>

    <div *ngIf="erreursForm.form" class="error">
      {{ erreursForm.form }}
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Valider</button>
  </form>
</div>
