<div class="container">
  <mat-card>
    <mat-card-title>Inscription</mat-card-title>
    <mat-card-content>
      <form autocomplete="off" [formGroup]="form" (submit)="submit()">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="form.get('email')?.errors?.required">
            Veuillez renseigner une adresse email.
          </mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('pattern')">
            Adresse invalide
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-error *ngIf="form.get('name')?.errors?.required">
            Veuillez renseigner un nom
          </mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('minlength')">
            3 caractères minimum
          </mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
            25 caractères maximum
          </mat-error>
          <mat-error *ngIf="form.get('name')?.hasError('pattern')">
            Nom invalide
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="form.get('password')?.errors?.required">
            Veuillez renseigner un mot de passe.
          </mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            8 caractères minimum
          </mat-error>
          <mat-error *ngIf="form.get('password')?.hasError('maxlength')">
            50 caractères maximum
          </mat-error>
        </mat-form-field>

        <button
          aria-label="Ajouter un post"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
        >
          Inscription
        </button>
        <mat-error *ngIf="error">
          {{ error }}
        </mat-error>
        <mat-card-subtitle *ngIf="valid">
          Inscription réussie. Vous allez être redirigé(e) vers la page de
          connexion
        </mat-card-subtitle>
      </form>
    </mat-card-content>
  </mat-card>
</div>
