<mat-card class="example-card">
  <form [formGroup]="form" (submit)="submit()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle>Votre nouveau message : </mat-card-subtitle>

      <mat-card-title>
        <mat-form-field>
          <mat-label>Veuillez indiquer un titre</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            placeholder="Nouveau titre"
          />
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <div>
      <mat-card-subtitle>Votre nouvelle image : </mat-card-subtitle>
      <input
        type="file"
        (change)="fileChange($event)"
        placeholder="Upload file"
      />
    </div>

    <mat-card-actions>
      <button mat-raised-button color="primary">Valider</button>
    </mat-card-actions>
  </form>
</mat-card>
