<div *ngIf="post">
  <button mat-raised-button (click)="this.commentsShow = !this.commentsShow">
    <span> Commentaires ({{ post.comments?.length }}) </span>
  </button>

  <div *ngIf="commentsShow" class="comments">
    <ul>
      <li *ngFor="let comment of post.comments" class="flex-auto comment-block">
        <div
          *ngIf="comment.creator?.id !== userToken.userId; else alt"
          class="flex-auto flex-row flex-justify-content-end"
        >
          <div class="firstChar">
            {{ comment.creator?.name | firstChar }}
          </div>
          <div class="comment d-flex flex-column">
            <div class="comment-creator">{{ comment.creator?.name }}</div>
            <div class="comment-text">
              {{ comment.commentText }}
              <mat-icon
                inline="true"
                class="icon-align pl-10 pr-10 delete"
                color="warn"
                title="Supprimer le commentaire"
                *ngIf="userToken.level > 1"
                (click)="doDelete(comment.id, post.id)"
                >highlight_off</mat-icon
              >
            </div>
          </div>
        </div>

        <ng-template #alt class="d-flex flex-row flex-justify-content-end">
          <div class="comment-alt d-flex flex-column">
            <div class="comment-creator-alt">
              {{ comment.creator?.name }}
            </div>
            <div class="comment-text-alt">
              {{ comment.commentText }}
              <mat-icon
                inline="true"
                class="icon-align pl-10 pr-10 delete"
                color="warn"
                title="Supprimer le commentaire"
                *ngIf="
                  comment.creator?.id == userToken.userId || userToken.level > 1
                "
                (click)="doDelete(comment.id, post.id)"
                >highlight_off</mat-icon
              >
            </div>
          </div>
          <div class="firstChar-alt">
            {{ comment.creator?.name | firstChar }}
          </div>
        </ng-template>

        <br />
      </li>
    </ul>

    <form autocomplete="off" [formGroup]="form" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Ajoutez un commentaire</mat-label>
        <input
          matInput
          type="text"
          aria-label="Ajouter un commentaire"
          formControlName="commentText"
          placeholder=""
        />

        <mat-icon
          class="icon-align"
          (click)="this.emojisShow = !this.emojisShow"
          matSuffix
          >sentiment_satisfied_alt</mat-icon
        >
        <emoji-mart
          class="emoji-mart"
          aria-label="Ajouter un emoji"
          *ngIf="emojisShow"
          (emojiSelect)="addEmoji($event); this.emojisShow = !this.emojisShow"
          title="Choisissez votre emoji"
        ></emoji-mart>
        <mat-hint>Appuyez sur Entrée pour publier</mat-hint>
        <mat-error *ngIf="form.get('commentText')?.hasError('minlength')">
          1 caractère minimum
        </mat-error>
        <mat-error *ngIf="form.get('commentText')?.hasError('maxlength')">
          25 caractères maximum
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
