<div *ngIf="post">
  <button mat-button (click)="this.commentsShow = !this.commentsShow">
    <!-- <mat-icon class="icon-align">visibility</mat-icon> -->
    <!-- <span matBadge="" matBadgeOverlap="false"> -->
    <span> Commentaires ({{ post.comments?.length }}) </span>
  </button>

  <div *ngIf="commentsShow">
    <ul>
      <li
        *ngFor="let comment of post.comments"
        class="d-flex flex-align-items-center comment-block"
      >
        <div class="firstChar">
          {{ comment.creator?.name | firstChar }}
        </div>
        <div class="comment d-flex flex-column">
          <div class="comment-creator">{{ comment.creator?.name }}</div>
          <div class="comment-text">
            {{ comment.commentText }}

            <mat-icon
              inline="true"
              class="icon-align pl-10 pr-10 delete"
              color="primary"
              title="Supprimer le commentaire"
              *ngIf="
                comment.creator?.id == userToken.userId || userToken.level > 1
              "
              (click)="doDelete(comment.id, post.id)"
              >highlight_off</mat-icon
            >
          </div>
        </div>

        <br />
      </li>
    </ul>

    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Ajoutez un commentaire</mat-label>
        <input
          matInput
          type="text"
          formControlName="commentText"
          placeholder=""
        />

        <!-- <mat-icon class="icon-align" matSuffix>record_voice_over</mat-icon> -->

        <mat-hint>Appuyez sur Entrée pour publier</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>
