<div class="d-flex flex-justify-content-center">
  <span class="actions d-flex">
    <button
      mat-raised-button
      color="primary"
      aria-label="Ajouter un post"
      (click)="doShow()"
      matTooltip="Lancez-vous !"
      matTooltipClass="multiline-tooltip"
    >
      <mat-icon>camera_enhance</mat-icon>
    </button>
  </span>

  <span class="actions">
    <button
      mat-raised-button
      color="primary"
      aria-label="Afficher tous les posts"
      (click)="onReset()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
  </span>
</div>

<app-post-dialog *ngIf="isVisible" (doShow)="doShow()"></app-post-dialog>

<div
  class="scroll"
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
  <h2 class="text-center">Posts de : {{ creatorName }}</h2>
  <app-post *ngFor="let post of posts" [post]="post"></app-post>
</div>
