<!-- <mat-card class="example-card">
  <form [formGroup]="form" (submit)="submit()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle>Votre nouveau message : </mat-card-subtitle>

      <mat-card-title>
        <mat-form-field>
          <mat-label>Veuillez indiquer un titre</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            placeholder="Nouveau titre"
          />
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
    <div>
      <mat-card-subtitle>Votre nouvelle image : </mat-card-subtitle>
      <input
        type="file"
        (change)="fileChange($event)"
        placeholder="Upload file"
      />
    </div>

    <mat-card-actions>
      <button mat-raised-button color="primary">Valider</button>
    </mat-card-actions>
  </form>
</mat-card> -->

<!-- <button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button> -->
<div class="center">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Indiquez un titre</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Titre</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            placeholder="Titre"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Choisissez une image</ng-template>
      <input
        type="file"
        id="inputFile"
        (change)="fileChange($event)"
        placeholder="Upload file"
        #inputFile
      /><button mat-button (click)="inputFile.click(); goForward(stepper)">
        <mat-icon>add_a_photo</mat-icon>
        Chargez
      </button>

      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <!--  <button mat-button matStepperNext>Suivant</button> -->
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validez</ng-template>
      <mat-label>{{ this.firstFormGroup.value.firstCtrl }}</mat-label>
      <p>
        Votre image doit être conforme aux régles d'utilisation de ce site !
      </p>
      <div>
        <img [src]="imageSrc" />
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <button mat-button (click)="submit(); stepper.reset()">
          Mon image est conforme. Je valide !
        </button>
        <button mat-button (click)="stepper.reset()">
          J'annule et en choisit une autre !
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
