.example-card {
  max-width: 500px;
  margin: auto;
  background-color: rgb(251, 253, 253);
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url("http://localhost:4200/assets/icon.png");
  background-size: cover;
}

.mat-card-image {
  margin: auto;
}

.dialog {
  background-color: blue;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.center {
  margin: auto;
  max-width: 550px;
  margin-bottom: 20px;
  border: 2px dotted #083ac49d;
  padding: 10px;
}
#inputFile {
  display: none;
}

.menus {
  vertical-align: text-bottom;
}

.preview {
  height: 300px;
  object-fit: contain;
}
