.example-card {
  max-width: 500px;
  margin: auto;
  background-color: rgb(251, 253, 253);
  margin-bottom: 10px;
}

.example-header-image {
  //   background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-image: url("http://localhost:4200/assets/icon.png");
  background-size: cover;
}

// .mat-form-field + .mat-form-field {
//   margin-left: 8px;
// }

.mat-card-image {
  margin: auto;
}

.dialog {
  background-color: blue;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.center {
  margin: auto;
  max-width: 750px;
  // margin-right: 22%;
  // margin-left: 22%;
  margin-bottom: 20px;
  //width: 0%;
  border: 2px dotted #083ac49d;
  padding: 10px;
}
#inputFile {
  display: none;
}
