<div class="center">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Titre</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Titre</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            placeholder="Titre"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button aria-label="Suivant" matStepperNext>
            Suivant
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Image</ng-template>
      <div class="d-flex flex-row">
        <input
          type="file"
          id="inputFile"
          (change)="fileChange($event)"
          placeholder="Upload file"
          #inputFile
        /><button
          mat-raised-button
          color="primary"
          aria-label="Charger une image"
          (click)="inputFile.click(); goForward(stepper)"
        >
          <mat-icon class="menus">add_a_photo</mat-icon>
          Chargez
        </button>

        <button mat-button aria-label="Retour" matStepperPrevious>
          Retour
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Validez</ng-template>
      <mat-card-title>{{ this.firstFormGroup.value.firstCtrl }}</mat-card-title>

      <div>
        <img [src]="imageSrc" class="preview" />
        <div class="d-flex flex-row">
          <button
            mat-raised-button
            aria-label="Valider le post"
            color="primary"
            (click)="submit(); stepper.reset()"
          >
            Je valide mon Post !
          </button>
          <button
            mat-raised-button
            aria-label="Annuler"
            color="warn"
            (click)="stepper.reset(); imageSrc = ''"
          >
            J'annule !
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
