.container {
  display: flex;
  justify-content: center;
  mat-card {
    width: 100%;
    max-width: 500px;
    form {
      display: flex;
      flex-direction: column;
      & > * {
        margin-bottom: 10px;
      }
    }
  }
}

.post-header-image {
  background-image: url("http://localhost:4200/assets/icon.png");
  background-size: cover;
}

.mat-card-image {
  margin: auto;
  height: 300px;
  object-fit: contain;
}

.mat-card-actions {
  margin: 5px;
}

button {
  margin: 5px;
}

.pointer {
  cursor: "pointer";
}
