<div class="container">
  <mat-card class="post-card">
    <mat-card-header>
      <div mat-card-avatar class="post-header-image"></div>
      <mat-card-title>{{ nom }}</mat-card-title>
      <mat-card-subtitle>{{ email }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h2>
        Vous avez publié {{ totalPosts }} Post(s) :
        <mat-icon (click)="postsByUser()" class="icon-align pointer"
          >visibility</mat-icon
        >
      </h2>
      <h2>Vous avez écrit {{ totalComments }} commentaire(s).</h2>
      <h2>Vous avez aimé {{ totalLikes }} Post(s).</h2>
    </mat-card-content>
    <div class="d-flex flex-column">
      <button mat-raised-button color="accent" (click)="disconnect()">
        Déconnecter
      </button>
      <button mat-raised-button color="warn" (click)="delete()">
        Supprimer le compte
      </button>
      <button mat-raised-button color="primary" (click)="changePassword()">
        changer de mot de passe
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="showPasswordChange">
  <mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>Modification du mot de passe</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <form [formGroup]="form" (submit)="submit()" class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Ancien mot de passe</mat-label>
          <input matInput type="password" formControlName="oldPassword" />
          <mat-error *ngIf="form.get('password')?.errors?.required">
            Veuillez renseigner votre mot de passe actuel.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput type="password" formControlName="newPassword" />

          <mat-error *ngIf="form.get('password')?.errors?.required">
            Veuillez renseigner votre nouveau mot de passe.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid">
          Modifier
        </button>
        <mat-error *ngIf="error">
          {{ error }}
        </mat-error>
      </form>
    </mat-card-actions>

    <mat-card-subtitle *ngIf="valid">
      Modification réussie. Vous allez être redirigé(e) vers la page de
      connexion
    </mat-card-subtitle>
  </mat-card>
</div>
