<mat-card class="example-card">
  <form [formGroup]="form" (submit)="submit()">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-subtitle *ngIf="post">{{ post.user.name }}</mat-card-subtitle>

      <mat-card-title>
        <mat-form-field>
          <mat-label>{{ post.title }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            placeholder="Nouveau titre"
          />
          <!--<mat-error *ngIf="form.get('email')?.errors?.required">
            Veuillez renseigner une adresse email.
          </mat-error> -->
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>

    <img mat-card-image [src]="post.imgUrl" alt="Photo de Groupomania" />
    <div>
      <input
        type="file"
        (change)="fileChange($event)"
        placeholder="Upload file"
      />
    </div>

    <div style="text-align: center"></div>
    <mat-card-actions>
      <button mat-button>Valider</button>
    </mat-card-actions>
  </form>
</mat-card>
