table {
  width: 60%;
  margin: auto;
  background-color: var(--lightgray);
}
.btn-edit {
  text-align: right;
}
h2,
h3 {
  text-align: center;
  padding-top: 5px;
}

.table-header {
  width: 90%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.button-remove {
  color: red;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  table {
    font-size: xx-small;
    width: 100%;
    background-color: var(--lightgray);
  }
  td {
    font-size: 11px;
  }
  .mat-button {
    min-width: 0;
    padding: 5px !important;
  }
}
