table {
  width: 70%;
  margin: auto;
}
.btn-edit {
  text-align: right;
}
h2,
h3 {
  text-align: center;
  padding-top: 5px;
}

.table-header {
  width: 90%;
  margin: auto;
  text-align: right;
  margin-bottom: 10px;
}

.button-remove {
  color: red;
}
