<article>
  <h2>Gestion des utilisateurs</h2>
  <h3>(level : 1 = user, 2 = mod, 3 = admin)</h3>
  <table mat-table [dataSource]="dataSource!">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== 'isEdit' && col !== 'isSelected'">
          {{ col }}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="dataSchema[col]" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-button
              class="button-remove"
              matTooltip="Supprimer le compte"
              matTooltipClass="multiline-tooltip"
              (click)="removeRow(element.id)"
            >
              <mat-icon>delete_forever</mat-icon>
            </button>

            <button
              mat-button
              class="button-remove"
              matTooltip="Modifier le mot de passe"
              matTooltipClass="multiline-tooltip"
              (click)="
                resetPassword(
                  element.id,
                  element.name,
                  element.level,
                  element.email
                )
              "
            >
              <mat-icon> vpn_key</mat-icon>
            </button>

            <button
              mat-button
              matTooltip="Editer"
              matTooltipClass="multiline-tooltip"
              (click)="element.isEdit = !element.isEdit"
            >
              <mat-icon>create</mat-icon>
            </button>
          </div>
          <span *ngSwitchDefault>
            {{ element[col] }}
          </span>
        </div>
        <div [ngSwitch]="dataSchema[col]" *ngIf="element.isEdit">
          <div *ngSwitchCase="'isSelected'"></div>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button
              mat-button
              matTooltip="Valider"
              matTooltipClass="multiline-tooltip"
              (click)="
                element.isEdit = !element.isEdit;
                editRow(
                  element,
                  element.id,
                  element.name,
                  element.level,
                  element.email
                )
              "
            >
              <mat-icon>done</mat-icon>
            </button>
          </div>
          <mat-form-field *ngSwitchDefault [style.width.px]="80">
            <mat-label>{{ col }}</mat-label>
            <input
              [type]="dataSchema[col]"
              matInput
              [(ngModel)]="element[col]"
            />
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</article>
